.ewgsStyle1{
font-family: 'Arial',sans-serif;
font-size: 12px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle2{
font-family: 'Arial',sans-serif;
font-size: 10px; 
font-weight:normal; 
text-decoration: none;
color: #D5D5D5;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle3{
font-family: 'Arial',sans-serif;
font-size: 24px; 
font-weight:700; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle4{
font-family: 'Arial',sans-serif;
font-size: 22px; 
font-weight:700; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle5{
font-family: 'Arial',sans-serif;
font-size: 20px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle6{
font-family: 'Arial',sans-serif;
font-size: 18px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle7{
font-family: 'Arial',sans-serif;
font-size: 16px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle8{
font-family: 'Arial',sans-serif;
font-size: 14px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle9{
font-family: 'Arial',sans-serif;
font-size: 12px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}
.ewgsStyle10{
font-family: 'Arial',sans-serif;
font-size: 12px; 
font-weight:700; 
text-decoration: none;
color: #D71E00;
background-color: #FEFC9B; 
word-wrap: break-word;
}
.ewgsStyle11{
font-family: 'Arial',sans-serif;
font-size: 10px; 
font-weight:normal; 
text-decoration: none;
color: #000000;
background-color: transparent;
word-wrap: break-word;
}